<!doctype html>
<html class="no-js" lang="en" dir="ltr">

{{> head}}

<body>
  <nav class="page">
    <a href="/">Tweets</a>
    <a href="/tweeters">Tweeters</a>
    <a class="github-button" href="https://github.com/telagraphic/front-end-tweets" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star telagraphic/front-end-tweets on GitHub">Star</a>
  </nav>
  <main class="page">
    {{{body}}}
  </main>
  <footer class="page">
    {{> footer}}
  </footer>
</body>


<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  console.log("scripts are loaded");
</script>
<html>
