<!doctype html>
<html class="no-js" lang="en" dir="ltr">

{{> head}}

<body>
  <nav>
    <a href="/">Tweets</a>
    <a href="/tweeters">Tweeters</a>
    <a href="#">Github</a>
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer>
    {{> footer}}
  </footer>
</body>

<script>
  console.log("scripts are loaded");
</script>
<html>
