// COLORS

$twitter-blue: #1DA1F2;
$twitter-lite-blue: #C9E8F5;
$twitter-lite-gray: #F5F8FA;
$twitter-dark-gray: #657786;
$twitter-black: #161616;
$twitter-white: #FFFFFF;
$timing: .45s;
$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);



// BREAKPOINTS
$desktop: 70rem; // 42rem
$large-desktop: 72rem;
