:root {
  /* --nav-font: moderno-fb, serif;
  --date-font: Arial;
  --message-font: moderno-fb, serif;
  --author-font: moderno-fb, serif; */

  --nav-font: moderno-fb, serif;
  --nav-font-color: hsl(0, 0%, 20%);
  --twitter-blue: hsl(202, 89%, 53%);
}

body {

}

/* Page  */

.page {
  max-width: 89%;
  margin: 0 auto;
}


@media (min-width: 42rem) {
  .page {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 62rem) {
  .page {
    max-width: 45%;
    margin: 0 auto;
  }
}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;

  padding: 2% 0;

  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-family: var(--nav-font);
  font-weight: 700;
  font-style: normal;

  font-family: droid-serif, serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 42rem) {
  .nav-mobile {
    max-width: 89%;
    margin: 0 auto;
  }
}

@media (min-width: 42rem) {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1% 0;

    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (2000 - 320)));
  }
}

nav span:nth-child(4) {
  margin-left: 5%;
  margin-top: 0rem;

  display: inline;
  visibility: visible;
}

nav span:nth-child(5){
  display: none;
  visibility: hidden;
}

@media (min-width: 42rem) {
  nav span:nth-child(4) {
    display: none;
    visibility: hidden;
  }

  nav span:nth-child(5){
    margin-left: 5%;
    margin-top: .525rem;

    display: inline;
    visibility: visible;
  }
}


nav a {
  padding: 0 1% 0 0;

  color: var(--nav-font-color);
  transition: color .2s ease-in-out;
}


nav a:hover {
  color: var(--twitter-blue);
}

nav span {
  padding: 0 1% 0 0;
}


/* Links */

a {
  text-decoration: none;
  /* color: #333333; */

  transition: color .25s ease;
}

a:hover {
  text-decoration: none;
  /* color: black; */
}

/* Tweets */

.tweets {
  margin: 0 auto;

  list-style: none;

  --date-font: Arial;
  --message-font: moderno-fb, serif;
  --author-font: moderno-fb, serif;

  --date-font-color: hsl(0, 0%, 26%);
  --message-font-color: hsl(0, 0%, 7%);
  --author-font-color: hsl(0, 0%, 8%);
}


.tweet {
  display: grid;
  grid-template-rows: min-content max-content min-content;
  grid-template-columns: auto;
  grid-template-areas: "time" "message" "author";

  padding: 9% 0;
  margin: 0;

}


.tweet__time {
  gird-area: "time";

  padding: 2% 0;

  font-family: var(--date-font);
  font-weight: 700;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2000 - 320)));
  text-transform: uppercase;

  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--date-font-color);
}

.tweet__message {
  grid-area: message;
  display: inline;

  padding: 0 0 5.5% 0;

  font-family: var(--message-font);
  font-weight: 400;
  font-style: normal;
  font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (2000 - 320)));

  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: italic;
  color: var(--message-font-color);

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  background-color: transparent;
  transition: color .25s ease, text-shadow .25s ease;
}

.tweet__message:hover {
  color: var(--twitter-blue);
  /* text-shadow: 0px 1px 3px rgba(0,0,0,0.1); */
}


@media (min-width: 42rem) {
  .tweet__message {
    font-size: calc(22px + (45 - 22) * ((100vw - 320px) / (2000 - 320)));

    overflow-wrap: none;
    word-wrap: none;
    word-break: none;
  }
}

.tweet__handle {
  grid-area: author;
  justify-self: flex-end;
  width: 75%;
}

.tweet__handle:hover {
  text-decoration: none;
}

.tweet__handle-link {
  color: var(--author-font-color);

  font-family: var(--author-font);
  font-family: droid-serif, serif;
  font-weight: 700;
  font-style: normal;

  font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (2000 - 320)));
}

@media (min-width: 42rem) {
  .tweet__handle {

    width: 50%;

    font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (2000 - 320)));
  }
}






/* Tweeters */


.tweeters {
  padding: 10% 0;
}

.tweeters a {
  color: var(--author-font-color);
  transition: color .2s ease-in-out;
}

.tweeters a:hover {
  color: var(--twitter-blue);
}


.tweeter__profile {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas: "pic info" "desc desc";
  padding: 4% 0;
}

@media (min-width: 42rem) {
  .tweeter__profile {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pic info" "pic desc";
    grid-column-gap: 2rem;
    /* padding: 1% 0; */
  }
}

.tweeter__profile-pic {
  grid-area: pic;
  transition: filter .25s ease-in-out;
  filter: grayscale(1);
}

.tweeter__profile-pic:hover {
  grid-area: pic;
  filter: grayscale(.1);
}

.tweeter__profile-pic a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 42rem) {
  .tweeter__profile-pic a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tweeter__profile-pic img {
  border-radius: 50%;
  max-width: 75%;
  height: auto;

}

@media (min-width: 42rem) {
  .tweeter__profile-pic img {
    border-radius: 50%;
    max-width: 55%;
    max-width: 100%;
    height: auto;

    /* border: none; */
    transition: border .25s ease-in-out;
  }

  .tweeter__profile-pic img:hover {
    border-radius: 50%;
    max-width: 55%;
    max-width: 100%;
    height: auto;

    /* border: 1px solid hsl(0, 0%, 80%); */
  }


}


.tweeter__profile-info {
  grid-area: info;

}


  .tweeter__profile-name {
    grid-area: name;
    font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (2000 - 320)));
    font-family: droid-serif, serif;
    font-weight: 400;
    font-style: italic;
  }

  .tweeter__profile-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    padding: 2.5% 0;

    font-family: droid-serif, serif;
    font-weight: 700;
    font-style: normal;

  }

  @media (min-width: 42rem) {
    .tweeter__profile-stats {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
    }
  }


  .tweeter__profile-stats h4 {
    padding: 0 5% 0 0;
    margin: 0;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (2000 - 320)));
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (2000 - 320)));

    text-transform: uppercase;
  }

  @media (min-width: 42rem) {
    .tweeter__profile-stats h4 {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (2000 - 320)));
    }
  }


  .tweeter_profile-stat {
    display: grid;
    grid-template-columns: .25fr .5fr;
    grid-column-gap: .525rem;
  }

  @media (min-width: 42rem) {
    .tweeter_profile-stat {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
    }
  }

  .tweeter_profile-stat-value {
    font-family: droid-serif, serif;
    font-weight: 700;
    font-style: normal;
  }

  .tweeter_profile-stat-key {
    font-family: droid-serif, serif;
    font-weight: 400;
    font-style: italic;
  }

  .tweeter__profile-description {
    grid-area: desc;

    padding: 2.5% 0;
    margin: 0;

    font-family: droid-serif, serif;
    font-weight: 400;
    font-style: normal;

    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2000 - 320)));
  }


  @media (min-width: 42rem) {
    .tweeter__profile-description {
      padding: 0;
    }
  }



  /* Footer */
