* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}



body {
  font-size: 100%;
}


.page {
  max-width: 89%;
  margin: 0 auto;
}


@media (min-width: 42rem) {
  .page {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 62rem) {
  .page {
    max-width: 45%;
    margin: 0 auto;
  }
}


nav {
  display: flex;
  justify-content: space-between;

  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-family: moderno-fb, serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 42rem) {
  .nav-mobile {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 42rem) {
  nav {
    display: flex;
    justify-content: space-between;

    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (2000 - 320)));
    font-family: moderno-fb, serif;
    font-weight: 700;
    font-style: normal;
  }
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}


.tweets {
  margin: 0 auto;

  list-style: none;
}


.tweet {
  display: grid;
  grid-template-rows: max-content min-content;
  grid-template-columns: auto;
  grid-template-areas: "message" "author";

  padding: 9% 0;

}


.tweet__message {
  grid-area: message;

  padding: 0 0 5.5% 0;

  font-family: moderno-fb, serif;
  font-weight: 400;
  font-style: normal;

  font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (2000 - 320)));
}

@media (min-width: 42rem) {
  .tweet__message {
    grid-area: message;

    padding: 0 0 5.5% 0;

    font-family: moderno-fb, serif;
    font-weight: 400;
    font-style: normal;

    font-size: calc(22px + (45 - 22) * ((100vw - 320px) / (2000 - 320)));
  }
}

.tweet__handle {
  grid-area: author;
  justify-self: flex-end;
  width: 75%;

  font-family: moderno-fb, serif;
  font-weight: 400;
  font-style: italic;

  font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (2000 - 320)));
}

@media (min-width: 42rem) {
  .tweet__handle {
    grid-area: author;
    justify-self: flex-end;
    width: 50%;

    font-family: moderno-fb, serif;
    font-weight: 400;
    font-style: italic;

    font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (2000 - 320)));
  }
}

@media (min-width: 42rem) {
  .tweet__handle {
    grid-area: author;
    justify-self: flex-end;
    width: 50%;

    font-family: moderno-fb, serif;
    font-weight: 400;
    font-style: italic;

    font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (2000 - 320)));
  }
}
