:root {
  --nav-font: moderno-fb, serif;
  --date-font: Arial;
  --message-font: moderno-fb, serif;
  --author-font: moderno-fb, serif;

  --nav-color: hsl(0, 0%, 20%);
  --date-color: hsl(0, 0%, 66%);
  --message-color: hsl(0, 0%, 20%);
  --author-color: hsl(0, 0%, 20%);
}

/* Page  */

.page {
  max-width: 89%;
  margin: 0 auto;
}


@media (min-width: 42rem) {
  .page {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 62rem) {
  .page {
    max-width: 45%;
    margin: 0 auto;
  }
}


/* Navigation */

nav {
  display: flex;
  justify-content: flex-start;

  padding: 2% 0;

  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (2000 - 320)));
  font-family: var(--nav-font);
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 42rem) {
  .nav-mobile {
    max-width: 89%;
    margin: 0 auto;
  }
}

@media (min-width: 42rem) {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1% 0;

    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (2000 - 320)));
  }
}

nav span:nth-child(3) {
  margin-left: 5%;
  margin-top: 0rem;

  display: inline;
  visibility: visible;
}

nav span:nth-child(4){
  display: none;
  visibility: hidden;
}

@media (min-width: 42rem) {
  nav span:nth-child(3) {
    display: none;
    visibility: hidden;
  }

  nav span:nth-child(4){
    margin-left: 5%;
    margin-top: .525rem;

    display: inline;
    visibility: visible;
  }
}

/* Links */

a {
  text-decoration: none;
  color: #333333;

  transition: color .25s ease;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* Tweets */

.tweets {
  margin: 0 auto;

  list-style: none;
}


.tweet {
  display: grid;
  grid-template-rows: min-content max-content min-content;
  grid-template-columns: auto;
  grid-template-areas: "time" "message" "author";

  padding: 9% 0;

}


.tweet__time {
  gird-area: "time";

  padding: 2% 0;

  font-family: var(--date-font);
  font-weight: 700;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2000 - 320)));
  text-transform: uppercase;

  color: hsl(0, 0%, 66%);
}

.tweet__message {
  grid-area: message;
  display: inline;

  padding: 0 0 5.5% 0;

  font-family: var(--message-font);
  font-weight: 400;
  font-style: normal;
  font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (2000 - 320)));

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  background-color: transparent;
  /* background-color: #e8e8e8; */
  transition: color .25s ease, text-shadow .25s ease;
}

.tweet__message:hover {
  color: #1da1f2;
  /* text-shadow: 0px 1px 3px rgba(0,0,0,0.1); */
}


@media (min-width: 42rem) {
  .tweet__message {
    font-size: calc(22px + (45 - 22) * ((100vw - 320px) / (2000 - 320)));

    overflow-wrap: none;
    word-wrap: none;
    word-break: none;
  }
}

.tweet__handle {
  grid-area: author;
  justify-self: flex-end;
  width: 75%;

  font-family: var(--author-font);
  font-weight: 400;
  font-style: italic;

  font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (2000 - 320)));
}

.tweet__handle:hover {
  text-decoration: none;
}

@media (min-width: 42rem) {
  .tweet__handle {

    width: 50%;

    font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (2000 - 320)));
  }
}






/* Tweeters */


.tweeters {
  padding: 10% 0;
}


.tweeter__profile {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas: "pic info" "desc desc";
  padding: 4% 0;
}

@media (min-width: 42rem) {
  .tweeter__profile {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pic info" "pic desc";
    padding: 1% 0;
  }
}


.tweeter__profile-pic {
  grid-area: pic;
}

.tweeter__profile-pic a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 42rem) {
  .tweeter__profile-pic a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tweeter__profile-pic img {
  border-radius: 50%;
  max-width: 75%;
  height: auto;
}

@media (min-width: 42rem) {
  .tweeter__profile-pic img {
    border-radius: 50%;
    max-width: 55%;
    height: auto;
  }
}


.tweeter__profile-info {
  grid-area: info;

}


  .tweeter__profile-name {
    grid-area: name;
    font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (2000 - 320)));
  }

  .tweeter__profile-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    padding: 2.5% 0;

  }

  @media (min-width: 42rem) {
    .tweeter__profile-stats {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
    }
  }


  .tweeter__profile-stats h4 {
    padding: 0 5% 0 0;
    margin: 0;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (2000 - 320)));
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (2000 - 320)));

    text-transform: uppercase;
  }

  @media (min-width: 42rem) {
    .tweeter__profile-stats h4 {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (2000 - 320)));
    }
  }


  .tweeter_profile-stat {
    display: grid;
    grid-template-columns: .25fr .5fr;
    grid-column-gap: .525rem;
  }

  @media (min-width: 42rem) {
    .tweeter_profile-stat {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
    }
  }

  .tweeter_profile-stat-value {

  }

  .tweeter_profile-stat-key {

  }

  .tweeter__profile-description {
    grid-area: desc;
    font-family: moderno-fb, serif;
    font-weight: 400;
    font-style: normal;
    padding: 2.5% 0;
    margin: 0;
  }


  @media (min-width: 42rem) {
    .tweeter__profile-description {
      padding: 0;
    }
  }



  /* Footer */
