<!doctype html>
<html class="no-js" lang="en" dir="ltr">

{{> head}}

<body>
  <nav class="page page__nav nav-mobile">
    <a href="/">Tweets</a>
    <span href="#">|</span>
    <a href="/tweeters">Tweeters</a>
    <a class="github-button github-button-mobile" href="https://github.com/telagraphic/front-end-tweets" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-show-count="true" aria-label="Star telagraphic/front-end-tweets on GitHub">Star</a>
    <a class="github-button github-button-desktop" href="https://github.com/telagraphic/front-end-tweets" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star telagraphic/front-end-tweets on GitHub">Star</a>
  </nav>
  <main class="page page__main">
    {{{body}}}
  </main>
  <footer class="page page__footer">
    {{> footer}}
  </footer>
</body>


<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>

  const tweet_quotes = Array.from(document.getElementsByClassName("tweet"));

  tweet_quotes.forEach(function(quote) {
    quote.addEventListener('mouseenter', hoverEnter);
    quote.addEventListener('mouseleave', hoverExit);
  });

  function hoverEnter(event) {
    let tweetTime = event.target.children[0];
    let tweetMessage = event.target.children[1];
    let tweetHandle = event.target.children[2].children[0].children[1];

    tweetTime.style.color = 'hsl(0, 0%, 5%)';
    tweetTime.style.opacity = '1';
    tweetTime.style.transform = 'translateY(0%)';

    tweetMessage.style.transform = 'scale(1.01)';
    tweetMessage.style.color = 'hsl(202, 89%, 53%)';
    tweetHandle.classList.add('tweet__handle-link-background-hover');

  }

  function hoverExit(event) {
    let tweetTime = event.target.children[0];
    let tweetMessage = event.target.children[1];
    let tweetHandle = event.target.children[2].children[0].children[1];

    tweetTime.style.color = 'hsl(0, 0%, 26%)';
    tweetTime.style.opacity = '0';
    // tweetTime.style.transform = 'translateY(75%)';

    tweetMessage.style.transform = 'scale(1)';
    tweetMessage.style.color = 'hsl(0, 0%, 7%)';
    tweetHandle.classList.remove('tweet__handle-link-background-hover');
  }
</script>
<html>
