@import '../config/variables';
@import '../config/mixins';

.page__footer {
  font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (2000 - 320)));
  background-color: $twitter-blue;

  max-width: 100%;
}

.page__footer a {
  padding: 0 1% 0 0;

  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;

  color: white;
  transition: color .2s ease-in-out;

}

.page__footer a:hover {
}

.page__footer-container {
  display: flex;
  flex-direction: column;
  max-width: 89%;
  margin: 0% auto;
  padding: 1% 0;
  height: 5rem;
}

@media (min-width: 42rem) {
  .page__footer-container {
    max-width: 60%;
  }
}

@media (min-width: 62rem) {
  .page__footer-container {
    max-width: 45%;
    margin: 0 auto;
  }
}
