@import '../config/variables';
@import '../config/mixins';


/* Navigation */

.page__nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $twitter-blue;

  z-index: 500;

  @include desktop(42rem) {
    background-color: transparent;
  }
}

.nav {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content min-content min-content;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;

  font-family: "Helvetica Neue";
  font-weight: 600;
  font-style: normal;

  border-bottom: 1px solid white;

  @include desktop(42rem) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: center;

    margin: 0 auto;
    padding: 1.5% 2%;

    font-family: "Helvetica Neue";
    font-weight: 600;
    font-style: normal;

    border-bottom: none;
  }
}

.nav-border-on-scroll {
  padding: 1rem;
  border-bottom: 1px solid white;
}

.nav-border-on-scroll {
  border-bottom: 1px solid white;
}


.nav a {
  font-size: calc(18px + (21 - 18) * ((100vw - 320px) / (2000 - 320)));
}

.nav__pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 2rem;

  text-transform: uppercase;

  border-bottom: 1px solid white;

  z-index: 200;

  @include desktop(42rem) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: auto;

    border-bottom: none;
  }
}

.nav__pages a {
  flex: 1 1 50%;

  height: 100%;
  padding: 1% 0 0 0;

  text-align: center;
  color: $twitter-white;

  &:hover {
    color: $twitter-black;
    background-color: $twitter-lite-gray;

    @include desktop(42rem) {
      color: $twitter-black;
      background-color: transparent;
    }
  }

  @include desktop(42rem) {
    display: flex;
    flex: 0 0 auto;
    text-align: left;

    height: auto;
    padding: 0 3%;
    color: $twitter-white;
  }
}

.nav__pages a:first-child {
  border-right: 1px solid white;

  @include desktop(42rem) {
    border-right: none;
  }
}


// @media (min-width: 42rem) {
//   .nav__pages a {
//     display: flex;
//   }
//
//   .nav__pages a:hover {
//     color: $twitter-black;
//     background-color: transparent;
//   }
// }

.nav__hashtags {
  display: none;

  color: $twitter-black;

  border-bottom: 1px solid white;

  @include desktop(42rem) {
    display: flex;
    justify-content: center;

    border-bottom: none;

    visibility: hidden;
  }
}


// @media (min-width: 42rem) {
//   .nav__hashtags {
//     display: flex;
//       justify-content: center;
//
//     border-bottom: none;
//
//     visibility: hidden;
//   }
// }


.nav__hashtags a {
  padding: 2% 0;
  border-right: 1px solid white;

  color: $twitter-black;
  text-align: center;

  &:hover {
    color: $twitter-lite-blue;
  }

  &:last-child {
    border-right: none;
  }

  @include desktop(42rem) {
    color: $twitter-black;
    margin: 0 3% 0 0;

    border-right: none;
  }
}

// .nav__hashtags a:last-child {
//   border-right: none;
// }



.nav__social {
  display: flex;
  justify-content: center;
  padding: 2% 0;

  z-index: 200;

  @include desktop(42rem) {
    justify-content: flex-end;
    padding: 0;
  }
}


.nav__social span:nth-child(1) {
  margin-left: 8%;
  display: inline;
  visibility: visible;

  @include desktop(42rem) {
    display: none;
    visibility: hidden;
  }
}

.nav__social span:nth-child(2){
  display: none;
  visibility: hidden;

  @include desktop(42rem) {
    margin-top: -.225rem;
    display: inline;
    visibility: visible;
  }
}

nav a.twitter-link {
  justify-self: flex-end;
  text-transform: lowercase;
  padding: 0 2%;

  @include desktop(42rem) {
    display: block;
    justify-self: flex-end;
    text-transform: lowercase;
  }
}

nav a.mobile-twitter-link {
  display: block;
  justify-self: flex-end;
  text-transform: lowercase;

  font-weight: 900;

  @include desktop(42rem) {
    display: none;
    justify-self: flex-end;
    text-transform: lowercase;
  }
}

.github-button-mobile, .github-button-desktop {
  justify-self: flex-end;
}

nav a {
  padding: 0 .25rem 0 0;
  color: hsl(0, 0%, 100%);
  transition: color .2s ease-in-out;

  &:hover {
    color: $twitter-black;
  }

  @include desktop(42rem) {
    padding: 0 1rem 0 0;
  }
}

nav span {
  padding: 0 .25rem 0 0;
  color: white;

  @include desktop(42rem) {
    padding: 0 1rem 0 0;
  }
}
