@import '../config/variables';
@import '../config/mixins';

.tweeters {
  display: grid;
  grid-template-columns: 1fr;

  max-width: 100%;
  margin: 0 auto;
  padding: 7rem 0 0 0;

  -webkit-tap-highlight-color: transparent;

  @include desktop(55rem) {
    max-width: 100%;
    margin: 1% auto 0 auto;

    grid-template-columns: repeat(3, 1fr);
  }
}

.tweeters a {
  transition: color .2s ease-in-out;

  &:hover {

  }
}

.tweeter__profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "name" "pic" "description";
  justify-items: center;

  max-height: 80vh;
  border-bottom: 1px solid $twitter-white;

  border-top: none;
  border-right: none;

  transition: background-color .425s ease-in-out, color .35s ease-in-out;

  &:nth-child(3n+3) {
    border-right: none;
  }

  &:hover {
    background-color: $twitter-lite-gray;
    color: $twitter-black;
  }

  @include desktop(55rem) {
    height: 40vh;
    min-height: 33rem;

    border-top: 1px solid $twitter-white;
    border-right: 1px solid $twitter-white;
  }
}


.tweeter__profile-name {
  grid-area: name;

  display: flex;
  align-items: center;

  padding: 3% 0;

  font-family: "Helvetica Neue";
  font-weight: 600;
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (2000 - 320)));
  color: $twitter-lite-blue;

  -webkit-tap-highlight-color: transparent;

  @include desktop(55rem) {
    font-size: calc(23px + (45 - 23) * ((100vw - 320px) / (2000 - 320)));
  }
}

.tweeter__profile-name a {
  color: $twitter-lite-blue;
  transition: color .125s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.tweeter__profile-pic {
  grid-area: pic;

  padding: 2% 0;

  transform: scale(1);
  filter: grayscale(1);
  transition: filter .25s ease-in-out, transform .125s ease-in-out;

  -webkit-tap-highlight-color: transparent;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include desktop(55rem) {
    padding: 5% 0;
  }
}


.tweeter__profile-pic img {
  border-radius: 50%;
  min-width:40%;
  max-width: 80%;
  height: auto;

  border: 2px solid $twitter-lite-blue;

  transition: border .125s ease-in-out;

  @include desktop(55rem) {
    max-width: 35%;
  }
}

.tweeter__profile-description {
  grid-area: description;
  display: flex;

  max-width: 89%;
  padding: 2% 0;
  margin: 0;

  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (2000 - 320)));

  @include desktop(55rem) {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (2000 - 320)));
    max-width: 79%;
    padding: 0% 0;
  }
}

.tweeter__profile-description p {
  align-items: flex-start;

  margin: 0;
  padding: 5% 0;

  color: $twitter-lite-blue;

  transition: color .125s ease-in-out;

  @include desktop(55rem) {
    align-items: flex-start;
    margin: 0;
    padding: 5% 0;
    color: $twitter-lite-blue;
    transition: color .125s ease-in-out;
  }
}
