<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="Flash cards on front end topics">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">

  <title>Front End Tweets</title>

  <link rel="stylesheet" href="https://use.typekit.net/ihk2wrj.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/defaults.css">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="preload" href="fonts/woff/HelveticaNeue-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/woff/HelveticaNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>

  <style>
    @font-face {
      font-family: "Helvetica Neue";
      src: "url(fonts/woff/HelveticaNeue-Regular.woff2) format('woff2'), url(fonts/woff/HelveticaNeue-Regular.woff) format('woff')";
      font-display: swap;
      font-weight: 500;
    }

    @font-face {
      font-family: "Helvetica Neue";
      src: "url(fonts/woff/PublicSans-Bold.woff2) format('woff2'), url(fonts/woff/HelveticaNeue-Bold.woff) format('woff')";
      font-display: swap;
      font-weight: 600;
    }

  </style>
</head>
